@import "tailwindcss";
/* src/App.css */

:root {
  --primary: #1f2937; /* Tailwind gray-800 */
  --accent: #3b82f6;  /* Tailwind blue-500 */
  --text-light: #f9fafb;
  --text-dark: #111827;
  --bg-light: #f3f4f6;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-light);
  /* overflow-x: hidden; */
}

.bg-primary {
  background-color: var(--primary);
}

.text-accent {
  color: var(--accent);
}

.hover\:bg-accent:hover {
  background-color: var(--accent);
}

.text-white {
  color: var(--text-light);
}
